{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}   
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <form
            action="{{ url_for('clip.prosses_add_clip') }}"
            method="POST"
        >
            <h1 class="bd-title">
                {{ title }}
            </h1>
                {{ form.hidden_tag() }}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{ form.clip_name.label }}</label>
                {{ form.clip_name() }}
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{ form.link.label }}</label>
                {{ form.link() }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{ form.playlist_id.label }}</label>
                    {{ form.playlist_id() }}
                </div>
            <div class="mb-3">
                {{ form.submit() }}
            </div>
        </form>
        <div class="col-2">
        </div>

{% endblock %}