{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}  
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <h1 class="bd-title">
            {{ title }}
        </h1>
            <a type="button" class="btn btn-primary" href="{{ url_for('playlist.add_playlist') }}">Добавить плейлист</a><br><br>
        <ul>
        {% for pl in pl_list %}
            <li><a href="{{ url_for('playlist.current_playlist', user_id=pl.author_id, pl_id=pl.id) }}">{{ pl.name }}</a><br></li>
        {% endfor %}
        </ul>
    <div class="col-2">
    </div>

{% endblock %}